.typing-animation {
    display: inline-block;
    overflow: hidden;
    animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  .background_image {
    width: 100%;
    height: 1000px;
    /* background-image: url('../../public/img/background-1.jpg'); */
    background-repeat: no-repeat; 
    background-size: cover;
  }
  .slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slideshow img.active {
    opacity: 1;
  }
  
  /* 추가한 스타일 */
  .slideshow .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* 이미지 위에 오도록 설정 */
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
  }
